@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --button-bg: rgba(0, 106, 255, 0.8);
  --button-bg-hover: rgba(0, 106, 255, 1);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --primary-bg: #212136;
    --secondary-bg: #171726;
    --primary-text-color: #9596ab;
    --header-bg: #0d0d16;
    --text-hover: #c22ef7;
    --text-brown: #e97688;
    --admin-primary-bg: #007eff;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

.navbar,
.showDropDown {
  transition: all 0.3s ease-in;
}
.active {
  background-color: rgba(0, 106, 255, 0.8);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
.nav {
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.active:hover,
.nav:hover {
  background-color: rgba(0, 106, 255, 1);
  transition: all 0.3s ease-in;
  color: white;
}

.active span,
.nav:hover span {
  border-color: white !important;
  transition: all 0.4s ease-in;
}

/* .scroll-Area [data-radix-scroll-area-viewport] + div {
  display: block !important;
  background: red !important;
} */

html {
  scroll-behavior: smooth !important;
}

/* Track */
::-webkit-scrollbar {
  width: 1px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
  width: 2px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
