@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-background: #14161c;
    --primary-background-text: #fff;
    --light-yellow-text: #ff7c5b;
    --btn-hover: #061a3a;
  }

  .dark {
    --primary-background: #fff;
    --primary-background-text: #14161c;
    --light-yellow-text: #ff7c5b;
    --btn-hover: #061a3a;
  }
}

.boxShadow {
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
}
.btn-default {
  position: relative;
  overflow: hidden;
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
  color: #fff !important;
  text-align: center;
  border-radius: 4px;
  z-index: 1;
  transition: all 500ms ease;
}
.navigation li {
  padding: 35px 0;
  margin: 0 20px;
  transition: all 300ms ease;
}
.navigation li a {
  position: relative;
  display: block;
  text-align: center;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  opacity: 1;
  z-index: 1;
  transition: all 500ms ease;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
